* {
  margin: 0;
  padding: 0;
}

body {
  width: 1920px;
  overflow-x: hidden;
}
@media (max-width: 375px) {
  body {
    width: 100%;
  }
}

.first__page {
  background: url("../img/firstpage/W.svg") no-repeat top right, linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
}
@media (max-width: 375px) {
  .first__page {
    background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
  }
}

.first__page__header {
  padding: 45px 55px 0 55px;
}
@media (max-width: 375px) {
  .first__page__header {
    padding: 15px 5px 0 5px;
  }
}

.first__page__header:after {
  content: "";
  display: table;
  width: 100%;
}

.first__page__header__logo {
  float: left;
}
@media (max-width: 375px) {
  .first__page__header__logo {
    float: none;
    text-align: center;
    padding-bottom: 10px;
  }
}

nav {
  float: left;
  padding-left: 144px;
}
@media (max-width: 375px) {
  nav {
    float: none;
    padding: 0;
    margin: 0 auto;
  }
}

.menu {
  display: block;
}
.menu li {
  float: left;
  display: block;
}
@media (max-width: 375px) {
  .menu li {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
}

.menu a, .first__page__header__navigation a {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  padding-right: 38px;
}
@media (max-width: 375px) {
  .menu a, .first__page__header__navigation a {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .menu a, .first__page__header__navigation a {
    padding: 0;
  }
}

.first__page__header__navigation {
  float: right;
}
@media (max-width: 375px) {
  .first__page__header__navigation {
    float: none;
    padding: 10px;
  }
  .first__page__header__navigation img {
    float: right;
    padding-top: 15px;
  }
}

.first__page__header__navigation__button {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  width: 120px;
  height: 47px;
  background-color: #7854F7;
  color: #fff;
  border-radius: 4px;
  margin-right: 38px;
  border: none;
  outline: none;
}
@media (max-width: 375px) {
  .first__page__header__navigation__button {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .first__page__header__navigation__button {
    margin-left: 20%;
  }
}
.first__page__header__navigation__button:hover {
  border: 2px solid #868686;
}

.first__page__center {
  padding-left: 220px;
}
@media (max-width: 375px) {
  .first__page__center {
    padding: 0;
  }
}

.first__page__center:after {
  content: "";
  display: table;
  width: 100%;
}

.first__page__center__left__container {
  width: 50%;
  float: left;
  padding-top: 200px;
}
@media (max-width: 375px) {
  .first__page__center__left__container {
    width: 100%;
    float: none;
    padding-top: 30px;
  }
}

.first__page__center__left__container__title {
  font-family: Circular Std Book;
  font-weight: bold;
  font-size: 85px;
  line-height: 95px;
  color: #272D4E;
}
@media (max-width: 375px) {
  .first__page__center__left__container__title {
    text-align: center;
    font-size: 35px;
    line-height: 40px;
  }
}

.subtitle {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  line-height: 25px;
  padding-top: 30px;
  color: #94A2B3;
}
@media (max-width: 375px) {
  .subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .subtitle {
    padding-top: 20px;
    text-align: center;
    margin: 0 10px;
  }
}

.first__page__center__left__container__flex__from__button {
  display: inline-flex;
}
@media (max-width: 375px) {
  .first__page__center__left__container__flex__from__button {
    display: block;
    text-align: center;
  }
}

.first__page__center__left__container__button {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
  width: 267px;
  height: 72px;
  background: #7854F7;
  border-radius: 60px;
  border: none;
  color: #fff;
  outline: none;
}
@media (max-width: 375px) {
  .first__page__center__left__container__button {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .first__page__center__left__container__button {
    margin-top: 20px;
    height: 50px;
    border-radius: 25px;
  }
}
.first__page__center__left__container__button:hover {
  border: 2px solid #868686;
}

.href {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-top: 55px;
  padding-left: 12px;
  line-height: 25px;
  color: #94A2B3;
}
@media (max-width: 375px) {
  .href {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .href {
    padding-top: 20px;
    padding-left: 0;
  }
}
.href a {
  color: #29AAF3;
  text-decoration: none;
  font-weight: bold;
}

.first__page__center__right__container {
  position: relative;
}
@media (max-width: 375px) {
  .first__page__center__right__container {
    text-align: center;
  }
}

.first__page__center__table__one {
  position: absolute;
  content: "";
  top: 120px;
  left: 1280px;
}
@media (max-width: 375px) {
  .first__page__center__table__one {
    display: none;
  }
}

.first__page__center__table__two {
  position: absolute;
  content: "";
  top: 270px;
  left: 850px;
}
@media (max-width: 375px) {
  .first__page__center__table__two {
    display: none;
  }
}

.first__page__center__table__three {
  position: absolute;
  content: "";
  top: 700px;
  left: 1430px;
}
@media (max-width: 375px) {
  .first__page__center__table__three {
    position: absolute;
    content: "";
    top: 100px;
    left: 50px;
  }
}

.circle {
  width: 0;
  height: 0;
  margin: 0 53px 53px 0;
  border-radius: 50%;
}

.blue {
  border: 4px solid #29AAF3;
}

.violet {
  border: 4px solid #7854F7;
}

.green {
  border: 4px solid #70C217;
}

.red {
  border: 4px solid #EF4358;
}

.firstPageSneakers {
  position: absolute;
  content: "";
  top: 270px;
  left: 970px;
}
@media (max-width: 375px) {
  .firstPageSneakers {
    display: none;
  }
}

.firstPageTwoGirls {
  position: absolute;
  content: "";
  top: 180px;
  left: 880px;
  border-radius: 20px;
}
@media (max-width: 375px) {
  .firstPageTwoGirls {
    position: absolute;
    content: "";
    top: 140px;
    left: 50px;
  }
}

.first__page__center__right__container__button__sale {
  position: absolute;
  content: "";
  top: 244px;
  left: 1250px;
  width: 147px;
  height: 54px;
  background: #70C217;
  border-radius: 27px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: Circular Std Book;
  font-weight: bold;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.4em;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .first__page__center__right__container__button__sale {
    position: static;
    width: 267px;
    margin-top: 45px;
  }
}
.first__page__center__right__container__button__sale:hover {
  border: 2px solid #868686;
}

.first__page__center__right__container__button__basket {
  position: absolute;
  content: "";
  top: 600px;
  left: 935px;
  width: 76px;
  height: 76px;
  background-color: #FFBA49;
  border-radius: 50%;
  border: none;
  outline: none;
}
@media (max-width: 375px) {
  .first__page__center__right__container__button__basket {
    position: absolute;
    content: "";
    top: 790px;
    left: 30px;
  }
}
.first__page__center__right__container__button__basket:hover {
  border: 2px solid #868686;
}

.first__page__center__right__container__button__logoshield {
  position: absolute;
  content: "";
  top: 670px;
  left: 1485px;
  width: 98px;
  height: 68px;
  background-color: #EF4358;
  border-radius: 31px;
  border: none;
  outline: none;
}
@media (max-width: 375px) {
  .first__page__center__right__container__button__logoshield {
    position: absolute;
    content: "";
    top: 795px;
    left: 190px;
  }
}
.first__page__center__right__container__button__logoshield:hover {
  border: 2px solid #868686;
}

.first__page__center__right__container__order {
  position: absolute;
  content: "";
  top: 270px;
  left: 1420px;
  width: 300px;
  height: 422px;
  background: #FFFFFF;
  border: 1px solid #E5EFFF;
  box-sizing: border-box;
}
@media (max-width: 375px) {
  .first__page__center__right__container__order {
    position: absolute;
    content: "";
    top: 380px;
    left: 35px;
  }
}

.first__page__center__right__container__order__shoes {
  float: left;
  margin-top: 46px;
  margin-left: 40px;
  font-family: Circular Std Book;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  color: #272D4E;
}

.first__page__center__right__container__order__marka {
  float: left;
  margin-top: 46px;
  margin-left: 9px;
  font-family: Circular Std Book;
  font-size: 12px;
  line-height: 15px;
  color: #868686;
}

.first__page__center__right__container__order__marka__title {
  margin-top: 87px;
  margin-left: 40px;
  font-family: Circular Std Book;
  font-size: 30px;
  line-height: 38px;
  color: #222222;
}

.first__page__center__right__container__order__size {
  margin-top: 40px;
  margin-left: 40px;
}

.change__size {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-right: 12px;
  width: 29px;
  height: 29px;
  background: #F6F6F6;
  border-radius: 5px;
  font-size: 9px;
  line-height: 11px;
  color: #868686;
  border: none;
  outline: none;
}
@media (max-width: 375px) {
  .change__size {
    font-size: 14px;
    line-height: 16px;
  }
}

.first__page__center__right__container__order__price {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 25px;
  margin-left: 40px;
  float: left;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #7854F7;
}
@media (max-width: 375px) {
  .first__page__center__right__container__order__price {
    font-size: 14px;
    line-height: 16px;
  }
}

.first__page__center__right__container__order__oldprice {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 60px;
  margin-left: -33px;
  float: left;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #868686;
}
@media (max-width: 375px) {
  .first__page__center__right__container__order__oldprice {
    font-size: 14px;
    line-height: 16px;
  }
}

.first__page__center__right__container__order__count {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 25px;
  margin-right: 36px;
  padding-top: 12px;
  float: right;
  text-align: center;
  width: 125px;
  height: 29px;
  background: #F6F6F6;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
}
@media (max-width: 375px) {
  .first__page__center__right__container__order__count {
    font-size: 14px;
    line-height: 16px;
  }
}

.first__page__center__right__container__order__count__minus {
  margin-left: 13px;
  margin-top: -7px;
  width: 7px;
  height: 2px;
  background-color: #222222;
  border-radius: 1px;
}

.first__page__center__right__container__order__count__plus {
  margin-left: 100px;
  margin-top: -2px;
  width: 7px;
  height: 2px;
  background-color: #222222;
  border-radius: 1px;
  position: relative;
}
.first__page__center__right__container__order__count__plus::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.first__page__center__right__container__order__addtocard {
  margin-left: 40px;
  margin-top: 27px;
  width: 268px;
  height: 49px;
  background: #7854F7;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  border: none;
  outline: none;
}
@media (max-width: 375px) {
  .first__page__center__right__container__order__addtocard {
    margin-left: 5px;
  }
}
.first__page__center__right__container__order__addtocard:hover {
  border: 2px solid #868686;
}

.first__page__center__right__container__payment {
  position: absolute;
  content: "";
  top: 600px;
  left: 1057px;
  padding-left: 19px;
  width: 387px;
  height: 248px;
  background: #FFFFFF;
  border-radius: 23px;
}
@media (max-width: 375px) {
  .first__page__center__right__container__payment {
    position: absolute;
    content: "";
    top: 780px;
    left: 15px;
    width: 90%;
  }
}

.first__page__center__right__container__payment__sistem {
  width: 368px;
  border-bottom: 1px solid #E5EFFF;
  position: relative;
  padding-bottom: 25px;
}
@media (max-width: 375px) {
  .first__page__center__right__container__payment__sistem {
    width: 80%;
  }
}

.sistem__bank {
  border-bottom: 0px solid #E5EFFF;
  padding-bottom: 0;
}

.logopayment {
  margin-left: 27px;
  margin-top: 23px;
  float: left;
}
@media (max-width: 375px) {
  .logopayment {
    margin-left: 0;
  }
}

.paypal__logo {
  margin-top: 13px;
}

.bank__logo {
  margin-left: 60px;
}
@media (max-width: 375px) {
  .bank__logo {
    margin-left: 30px;
  }
}

.first__page__center__right__container__payment__text {
  margin-left: 44px;
  margin-top: 28px;
  float: left;
  font-family: Roboto;
  font-size: 12px;
  line-height: 25px;
  color: #94A2B3;
}
@media (max-width: 375px) {
  .first__page__center__right__container__payment__text {
    margin-left: 30px;
  }
}

.paypal__text {
  margin-left: 33px;
}
@media (max-width: 375px) {
  .paypal__text {
    margin-left: 10px;
  }
}

.bank__text {
  margin-left: 65px;
}
@media (max-width: 375px) {
  .bank__text {
    margin-left: 55px;
  }
}

.toggle {
  opacity: 0;
}
.toggle + label:before {
  display: inline-block;
  vertical-align: text-top;
  background: #DAE5F7;
  transition: 0.4s;
}
.toggle + label:after {
  background: #7854F7;
  transition: 0.4s;
}
.toggle:checked + label:before {
  background: #70C217;
  transition: 0.4s;
}
.toggle:checked + label:after {
  background: #fff;
  transition: 0.4s;
}

.first__page__toggle + label:before {
  position: absolute;
  content: "";
  top: 30px;
  left: 300px;
  width: 47px;
  height: 24px;
  border-radius: 12px;
}
@media (max-width: 375px) {
  .first__page__toggle + label:before {
    position: absolute;
    content: "";
    top: 30px;
    left: 234px;
  }
}
.first__page__toggle + label:after {
  position: absolute;
  content: "";
  top: 34px;
  left: 304px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
@media (max-width: 375px) {
  .first__page__toggle + label:after {
    position: absolute;
    content: "";
    top: 34px;
    left: 238px;
  }
}
.first__page__toggle:checked + label:after {
  left: 327px;
}
@media (max-width: 375px) {
  .first__page__toggle:checked + label:after {
    left: 260px;
  }
}

.second__page__header__text {
  text-align: center;
  margin: 0 auto;
  font-family: Circular Std Book;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  color: #272D4E;
  width: 457px;
  padding-top: 255px;
  padding-bottom: 56px;
}
@media (max-width: 375px) {
  .second__page__header__text {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 375px) {
  .second__page__header__text {
    width: 100%;
    padding-top: 1000px;
    padding-bottom: 5px;
  }
}

.second__page__block {
  margin-left: 70px;
  width: 430px;
  height: 600px;
  float: left;
  position: relative;
}
@media (max-width: 375px) {
  .second__page__block {
    width: 100%;
    height: auto;
  }
  .second__page__block .main__img {
    width: 98%;
  }
  .second__page__block .first__main__img {
    padding-bottom: 60px;
  }
}

.blockone {
  margin-left: 220px;
}
@media (max-width: 375px) {
  .blockone {
    margin-left: 0;
  }
}

.second__page__blockone__applePay {
  position: absolute;
  content: "";
  top: 40px;
  left: -30px;
}
@media (max-width: 375px) {
  .second__page__blockone__applePay {
    position: absolute;
    content: "";
    top: 40px;
    left: 10px;
  }
}

.second__page__block__text {
  margin-left: 50px;
  margin-top: -20px;
  width: 440px;
}
@media (max-width: 375px) {
  .second__page__block__text {
    float: left;
    text-align: center;
    margin-left: 0;
    width: 95%;
    padding: 100px 0 0 0;
  }
}

.second__page__block__title {
  text-align: center;
  margin: 0 auto;
  font-family: Circular Std Book;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  color: #272D4E;
  font-size: 36px;
  text-align: left;
}
@media (max-width: 375px) {
  .second__page__block__title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 375px) {
  .second__page__block__title {
    text-align: center;
    padding-bottom: 10px;
  }
}

.second__page__block__title__subtitle {
  margin-top: -20px;
}

.second__page__block__text__href {
  padding-left: 0;
  padding-top: 20px;
}

.second__page__blockone__changing {
  position: absolute;
  content: "";
  top: 100px;
  left: -52px;
  width: 202px;
  height: 264px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
}
@media (max-width: 375px) {
  .second__page__blockone__changing {
    position: absolute;
    content: "";
    top: 100px;
    left: 10px;
  }
}

.second__page__blockone__changing__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  padding-left: 5px;
}

.second__page__blockone__changing__subtitle {
  font-family: Roboto;
  font-size: 6px;
  line-height: 10px;
  padding-left: 5px;
}

.second__page__blockone__changing__block {
  display: flex;
  width: 192px;
  height: 50px;
  margin-left: 4px;
  border: 1px solid rgba(215, 228, 249, 0.3);
  border-radius: 8px;
  font-family: Roboto;
  font-size: 5px;
  position: relative;
  margin-bottom: 5px;
}

.second__page__blockone__changing__blockOne {
  width: 15%;
  padding-right: 10px;
}

.second__page__blockone__changing__blockTwo {
  width: 48%;
  position: relative;
}

.second__page__blockone__changing__blockThree {
  width: 35%;
}

.second__page__blockone__changing__img {
  width: 25px;
  padding-top: 15px;
  padding-left: 5px;
}

.second__page__blockone__changing__text {
  padding-top: 2px;
  padding-bottom: 0;
}

.second__page__toggle + label:before {
  position: absolute;
  content: "";
  top: 20px;
  left: 145px;
  width: 40px;
  height: 20px;
  border-radius: 12px;
}
.second__page__toggle + label:after {
  position: absolute;
  content: "";
  top: 23px;
  left: 149px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.second__page__toggle:checked + label:after {
  left: 167px;
}

.second__page__blockone__changing__checkbox {
  width: 10px;
}

.second__page__blockone__changing__checkbox__span {
  position: absolute;
  content: "";
  top: 24px;
  left: 15px;
}

.second__page__blockone__changing__textbox {
  width: 80px;
  height: 10px;
  font-size: 9px;
}

.blocktwo {
  margin-top: 75px;
}
@media (max-width: 375px) {
  .blocktwo {
    margin-left: 0;
  }
}

.facebooklogo {
  position: absolute;
  content: "";
  top: 110px;
  left: 50px;
}
@media (max-width: 375px) {
  .facebooklogo {
    width: 50%;
    position: absolute;
    content: "";
    top: 110px;
    left: -40px;
  }
}

.googleAdslogo {
  position: absolute;
  content: "";
  top: 249px;
  left: 153px;
}
@media (max-width: 375px) {
  .googleAdslogo {
    width: 50%;
    position: absolute;
    content: "";
    top: 130px;
    left: 150px;
  }
}

.jetpacklogo {
  position: absolute;
  content: "";
  top: 140px;
  left: 229px;
}
@media (max-width: 375px) {
  .jetpacklogo {
    width: 50%;
    position: absolute;
    content: "";
    top: -20px;
    left: 150px;
  }
}

.mailchimplogo {
  position: absolute;
  content: "";
  top: 25px;
  left: 289px;
}
@media (max-width: 375px) {
  .mailchimplogo {
    width: 50%;
    position: absolute;
    content: "";
    top: 220px;
    left: 50px;
  }
}

.squarelogo {
  position: absolute;
  content: "";
  top: -40px;
  left: 50px;
}
@media (max-width: 375px) {
  .squarelogo {
    width: 50%;
    position: absolute;
    content: "";
    top: -40px;
    left: -40px;
  }
}

.blockthree {
  margin-top: 150px;
}
@media (max-width: 375px) {
  .blockthree {
    margin-top: 50px;
    margin-left: 0;
  }
}

.photooneblockthree {
  position: absolute;
  content: "";
  top: -130px;
  left: 270px;
}
@media (max-width: 375px) {
  .photooneblockthree {
    width: 50%;
    position: absolute;
    content: "";
    top: 140px;
    left: 160px;
  }
}

.phototwoblockthree {
  position: absolute;
  content: "";
  top: -50px;
  left: 30px;
}
@media (max-width: 375px) {
  .phototwoblockthree {
    width: 50%;
    position: absolute;
    content: "";
    top: -50px;
    left: -30px;
  }
}

.photothreeblockthree {
  position: absolute;
  content: "";
  top: 115px;
  left: 325px;
}
@media (max-width: 375px) {
  .photothreeblockthree {
    width: 50%;
    position: absolute;
    content: "";
    top: 180px;
    left: 0px;
  }
}

.third__page {
  margin-top: 958px;
  width: 100%;
  height: 1110px;
  background: url("../img/thirdpage/woo.svg") no-repeat top right, #7854F7;
  position: relative;
}
@media (max-width: 375px) {
  .third__page {
    margin-top: 1650px;
    height: 1200px;
  }
}
.third__page::before {
  position: absolute;
  content: "";
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 1920px/60px;
  z-index: 1;
}
.third__page::after {
  position: absolute;
  content: "";
  top: 1080px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 1920px/60px;
  z-index: 1;
}
@media (max-width: 375px) {
  .third__page::after {
    position: absolute;
    content: "";
    top: 1170px;
    left: 0;
  }
}

.third__page__center__table__one {
  position: absolute;
  content: "";
  top: 376px;
  left: 250px;
}
@media (max-width: 375px) {
  .third__page__center__table__one {
    display: none;
  }
}

.third__page__center__table__two {
  position: absolute;
  content: "";
  top: 752px;
  left: 1595px;
}
@media (max-width: 375px) {
  .third__page__center__table__two {
    display: none;
  }
}

.third__page__circle__one {
  position: absolute;
  content: "";
  top: 127px;
  left: 217px;
  width: 65px;
  height: 65px;
}

.third__page__circle__two {
  position: absolute;
  content: "";
  top: 172px;
  left: 237px;
  width: 401px;
  height: 401px;
}
@media (max-width: 375px) {
  .third__page__circle__two {
    display: none;
  }
}

.third__page__circle__three {
  position: absolute;
  content: "";
  top: 536px;
  left: 1441px;
  width: 262px;
  height: 262px;
}
@media (max-width: 375px) {
  .third__page__circle__three {
    display: none;
  }
}

.third__page__circle__four {
  position: absolute;
  content: "";
  top: 514px;
  left: 1236px;
  width: 65px;
  height: 65px;
  z-index: 3;
}
@media (max-width: 375px) {
  .third__page__circle__four {
    position: absolute;
    content: "";
    top: 550px;
    left: 10px;
  }
}

.background__circle {
  border: 5px solid #FFBA49;
  box-sizing: border-box;
  border-radius: 50%;
}

.third__page__planing {
  position: absolute;
  content: "";
  top: 520px;
  left: 1070px;
  z-index: 2;
}
@media (max-width: 375px) {
  .third__page__planing {
    position: absolute;
    content: "";
    top: 540px;
    left: 100px;
    width: 60%;
  }
}

.third__page__chinaGirls {
  position: absolute;
  content: "";
  top: -50px;
  left: 300px;
  z-index: 2;
}
@media (max-width: 375px) {
  .third__page__chinaGirls {
    position: absolute;
    content: "";
    top: -10px;
    left: 5px;
    width: 60%;
  }
}

.text__one {
  position: absolute;
  content: "";
  top: 97px;
  left: 845px;
}
@media (max-width: 375px) {
  .text__one {
    position: static;
  }
}

.text__two {
  position: absolute;
  content: "";
  top: 590px;
  left: 595px;
}
@media (max-width: 375px) {
  .text__two {
    position: static;
  }
}

.third__page__information {
  width: 485px;
  height: 400px;
}
@media (max-width: 375px) {
  .third__page__information {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 250px;
  }
}

.third__page__title {
  width: 80%;
  font-family: Circular Std Book;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .third__page__title {
    width: 100%;
    z-index: 6;
  }
}

.third__page__subtitle {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 10px;
  font-weight: normal;
  line-height: 30px;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .third__page__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

.third__page__button {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 40px;
  width: 256px;
  height: 64px;
  background: #70C217;
  border-radius: 32px;
  color: #FFFFFF;
  border: none;
  outline: none;
}
@media (max-width: 375px) {
  .third__page__button {
    font-size: 14px;
    line-height: 16px;
  }
}
.third__page__button:hover {
  border: 2px solid #868686;
}

.fourth__page {
  margin-top: 100px;
  width: 100%;
  height: 1209px;
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
  position: relative;
}
@media (max-width: 375px) {
  .fourth__page {
    margin-top: 50px;
    height: 700px;
  }
}

.fourth__page__table__one {
  position: absolute;
  content: "";
  top: 660px;
  left: 450px;
}
@media (max-width: 375px) {
  .fourth__page__table__one {
    display: none;
  }
}

.fourth__page__table__two {
  position: absolute;
  content: "";
  top: 407px;
  left: 1342px;
}
@media (max-width: 375px) {
  .fourth__page__table__two {
    display: none;
  }
}

.fourth__page__photo11 {
  position: absolute;
  content: "";
  top: 223px;
  left: 391px;
}
@media (max-width: 375px) {
  .fourth__page__photo11 {
    position: absolute;
    content: "";
    top: 500px;
    left: 120px;
  }
}

.fourth__page__photo12 {
  position: absolute;
  content: "";
  top: 438px;
  left: 102px;
}
@media (max-width: 375px) {
  .fourth__page__photo12 {
    position: absolute;
    content: "";
    top: 70px;
    left: 20px;
  }
}

.fourth__page__photo13 {
  position: absolute;
  content: "";
  top: 780px;
  left: 256px;
}
@media (max-width: 375px) {
  .fourth__page__photo13 {
    display: none;
  }
}

.fourth__page__photo21 {
  position: absolute;
  content: "";
  top: 209px;
  left: 1378px;
}
@media (max-width: 375px) {
  .fourth__page__photo21 {
    display: none;
  }
}

.fourth__page__photo22 {
  position: absolute;
  content: "";
  top: 466px;
  left: 1533px;
}
@media (max-width: 375px) {
  .fourth__page__photo22 {
    display: none;
  }
}

.fourth__page__photo23 {
  position: absolute;
  content: "";
  top: 844px;
  left: 1435px;
}
@media (max-width: 375px) {
  .fourth__page__photo23 {
    display: none;
  }
}

.fourth__page__header__text {
  text-align: center;
  margin: 0 auto;
  font-family: Circular Std Book;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  color: #272D4E;
  padding-top: 138px;
  width: 530px;
}
@media (max-width: 375px) {
  .fourth__page__header__text {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 375px) {
  .fourth__page__header__text {
    width: 100%;
    padding: 0;
  }
}

.fourth__page__information {
  margin: 0 auto;
  margin-top: 103px;
  position: relative;
  width: 730px;
  height: 391px;
  background: url("../img/fourthpage/twocommas.svg") no-repeat center top 28px, #fff;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  border-radius: 20px;
  z-index: 3;
  position: relative;
}
@media (max-width: 375px) {
  .fourth__page__information {
    margin-top: 100px;
    width: 100%;
    height: auto;
    box-shadow: none;
  }
}
.fourth__page__information::before {
  position: absolute;
  content: "";
  top: 391px;
  left: 26px;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(to bottom, #d7e4f9, #eaf2ff);
  width: 678px;
  height: 28px;
  z-index: 2;
}
@media (max-width: 375px) {
  .fourth__page__information::before {
    margin-top: 100px;
    width: 90%;
    bottom: -28px;
    left: 5%;
    top: auto;
  }
}
.fourth__page__information::after {
  position: absolute;
  content: "";
  top: 419px;
  left: 56px;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(to bottom, #d7e4f9, #eaf2ff);
  width: 618px;
  height: 20px;
  z-index: 2;
}
@media (max-width: 375px) {
  .fourth__page__information::after {
    display: none;
  }
}

.fourth__page__information__text {
  font-family: Circular Std Book;
  font-size: 27px;
  line-height: 39px;
  text-align: center;
  color: #94A2B3;
  padding: 106px 82px 87px 82px;
}
@media (max-width: 375px) {
  .fourth__page__information__text {
    padding: 50px 10px;
    font-size: 20px;
    line-height: 25px;
  }
}

.fourth__page__information__forward__arrow {
  position: absolute;
  content: "";
  top: 500px;
  left: 600px;
  width: 31px;
  height: 2px;
  background: #7f7f7f;
  transition: 0.4s;
}
@media (max-width: 375px) {
  .fourth__page__information__forward__arrow {
    position: absolute;
    content: "";
    top: 300px;
    left: 240px;
  }
}
.fourth__page__information__forward__arrow:before {
  position: absolute;
  content: "";
  top: -3px;
  left: 23px;
  width: 10px;
  height: 2px;
  background: #7f7f7f;
  transform: rotate(45deg);
  transition: 0.4s;
}
.fourth__page__information__forward__arrow:after {
  position: absolute;
  content: "";
  top: 3px;
  left: 23px;
  width: 10px;
  height: 2px;
  background: #7f7f7f;
  transform: rotate(-45deg);
  transition: 0.4s;
}
.fourth__page__information__forward__arrow:hover {
  position: absolute;
  content: "";
  top: 498px;
  left: 581px;
  width: 50px;
  height: 4px;
  background: #000;
  transition: 0.4s;
}
@media (max-width: 375px) {
  .fourth__page__information__forward__arrow:hover {
    position: absolute;
    content: "";
    top: 298px;
    left: 221px;
  }
}
.fourth__page__information__forward__arrow:hover:before {
  position: absolute;
  content: "";
  top: -4px;
  left: 38px;
  width: 15px;
  height: 4px;
  background: #000;
  transition: 0.4s;
}
.fourth__page__information__forward__arrow:hover:after {
  position: absolute;
  content: "";
  top: 4px;
  left: 38px;
  width: 15px;
  height: 4px;
  background: #000;
  transition: 0.4s;
}

.fourth__page__information__back__arrow {
  position: absolute;
  content: "";
  top: 500px;
  left: 500px;
  width: 31px;
  height: 2px;
  background: #7f7f7f;
  transition: 0.4s;
}
@media (max-width: 375px) {
  .fourth__page__information__back__arrow {
    position: absolute;
    content: "";
    top: 300px;
    left: 120px;
  }
}
.fourth__page__information__back__arrow:before {
  position: absolute;
  content: "";
  top: -3px;
  left: -3px;
  width: 10px;
  height: 2px;
  background: #7f7f7f;
  transform: rotate(-45deg);
  transition: 0.4s;
}
.fourth__page__information__back__arrow:after {
  position: absolute;
  content: "";
  top: 3px;
  left: -3px;
  width: 10px;
  height: 2px;
  background: #7f7f7f;
  transform: rotate(45deg);
  transition: 0.4s;
}
.fourth__page__information__back__arrow:hover {
  position: absolute;
  content: "";
  top: 498px;
  left: 500px;
  width: 50px;
  height: 4px;
  background: #000;
  transition: 0.4s;
}
@media (max-width: 375px) {
  .fourth__page__information__back__arrow:hover {
    position: absolute;
    content: "";
    top: 298px;
    left: 120px;
  }
}
.fourth__page__information__back__arrow:hover:before {
  position: absolute;
  content: "";
  top: -4px;
  left: -3px;
  width: 15px;
  height: 4px;
  background: #000;
  transition: 0.4s;
}
.fourth__page__information__back__arrow:hover:after {
  position: absolute;
  content: "";
  top: 4px;
  left: -3px;
  width: 15px;
  height: 4px;
  background: #000;
  transition: 0.4s;
}

.fifth__page {
  width: 100%;
  height: 1495px;
  position: relative;
  background: url("../img/fifthpage/backgroundcircle.svg") no-repeat center top 265px;
}
@media (max-width: 375px) {
  .fifth__page {
    background: none;
    height: auto;
  }
}

.fifth__page__table__one {
  position: absolute;
  content: "";
  top: 386px;
  left: 83px;
}
@media (max-width: 375px) {
  .fifth__page__table__one {
    display: none;
  }
}

.fifth__page__table__two {
  position: absolute;
  content: "";
  top: 257px;
  left: 1566px;
}
@media (max-width: 375px) {
  .fifth__page__table__two {
    display: none;
  }
}

.fifth__page__header__title {
  text-align: center;
  margin: 0 auto;
  font-family: Circular Std Book;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  color: #272D4E;
  margin-top: -35px;
  width: 650px;
}
@media (max-width: 375px) {
  .fifth__page__header__title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 375px) {
  .fifth__page__header__title {
    width: 100%;
  }
}

.fifth__page__header__subtitle {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  padding-top: 31px;
  width: 660px;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
  color: #94A2B3;
}
@media (max-width: 375px) {
  .fifth__page__header__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .fifth__page__header__subtitle {
    width: 90%;
  }
}

.fifth__page__circle__one {
  position: absolute;
  content: "";
  top: 201px;
  left: 100px;
  width: 61px;
  height: 61px;
}

.fifth__page__circle__two {
  position: absolute;
  content: "";
  top: 329px;
  left: 194px;
  width: 34px;
  height: 34px;
}

.fifth__page__circle__three {
  position: absolute;
  content: "";
  top: 167px;
  left: 1614px;
  width: 43px;
  height: 43px;
}
@media (max-width: 375px) {
  .fifth__page__circle__three {
    display: none;
  }
}

.fifth__page__people {
  position: absolute;
  content: "";
  top: 132px;
  left: 305px;
}
@media (max-width: 375px) {
  .fifth__page__people {
    position: static;
    width: 100%;
    padding-top: 140px;
  }
}

.fifth__page__block__getStarted {
  margin-top: 274px;
  width: 100%;
  height: 261px;
  background-color: #5F37EF;
}
@media (max-width: 375px) {
  .fifth__page__block__getStarted {
    margin-top: -4px;
  }
}

.fifth__page__block__getStarted__text {
  padding-top: 78px;
  width: 855px;
  margin: 0 auto;
  font-family: Roboto;
  font-size: 36px;
  line-height: 52px;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .fifth__page__block__getStarted__text {
    text-align: center;
    padding-top: 40px;
    width: 100%;
    font-size: 20px;
    line-height: 25px;
  }
}

.fifth__page__block__getStarted__button {
  color: #272D4E;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: -90px;
  float: right;
  margin-right: 200px;
  width: 207px;
  height: 72px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 36px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  outline: none;
  background-color: transparent;
}
@media (max-width: 375px) {
  .fifth__page__block__getStarted__button {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .fifth__page__block__getStarted__button {
    float: none;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    margin-right: 0;
  }
}
.fifth__page__block__getStarted__button:hover {
  border: 2px solid #868686;
}

.fifth__page__block__aboutus {
  width: 100%;
  height: 741px;
  background-color: #7854F7;
  position: relative;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus {
    height: auto;
  }
}
.fifth__page__block__aboutus::after {
  position: absolute;
  content: "";
  top: 326px;
  left: 220px;
  width: 1480px;
  height: 0;
  border-bottom: 1px solid #9A7DFF;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus::after {
    display: none;
  }
}

@media (max-width: 375px) {
  .fifth__page__block__aboutus__block {
    text-align: center;
  }
}
.fifth__page__block__aboutus__block img {
  float: left;
  padding-left: 118px;
  padding-top: 45px;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus__block img {
    float: none;
    padding: 0;
  }
}
.fifth__page__block__aboutus__block p {
  padding-top: 40px;
  padding-left: 15px;
  float: left;
  font-family: Roboto;
  font-size: 20px;
  line-height: 52px;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus__block p {
    float: none;
    padding: 0;
  }
}
.fifth__page__block__aboutus__block:first-child img {
  padding-left: 348px;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus__block:first-child img {
    padding: 0;
    padding-top: 20px;
  }
}

.fifth__page__block__aboutus__logo {
  margin-left: 868px;
  margin-top: 140px;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus__logo {
    margin: 0;
    width: 80%;
    padding: 10%;
  }
}

.fifth__page__block__aboutus__table {
  padding-top: 90px;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: bold;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus__table {
    padding: 20px 0;
  }
}
.fifth__page__block__aboutus__table thead {
  font-size: 14px;
  line-height: 52px;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus__table thead {
    font-size: 8px;
    line-height: 11px;
  }
}
.fifth__page__block__aboutus__table tbody {
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus__table tbody {
    font-size: 8px;
    line-height: 10px;
  }
}
.fifth__page__block__aboutus__table td {
  padding: 0 69px;
}
@media (max-width: 375px) {
  .fifth__page__block__aboutus__table td {
    padding: 0 2px;
  }
}

.fifth__page__block__footer {
  padding-left: 194px;
}
@media (max-width: 375px) {
  .fifth__page__block__footer {
    padding: 0 2px;
  }
}
.fifth__page__block__footer img {
  display: inline;
  padding-top: 26px;
  padding-left: 54px;
}
@media (max-width: 375px) {
  .fifth__page__block__footer img {
    padding-left: 55px;
    padding-bottom: 5px;
  }
}
.fifth__page__block__footer p {
  padding: 0 346px 0 283px;
  display: inline;
  font-family: Roboto;
  font-size: 12px;
  line-height: 22px;
  color: #272D4E;
}
@media (max-width: 375px) {
  .fifth__page__block__footer p {
    display: block;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .fifth__page__block__footer .fifth__page__block__footer__automattic {
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}