* {
  margin: 0;
  padding: 0;
}

body {
  width: 1920px;
  height: 5958px;
  overflow-x: hidden;
}

.first__page {
  background: url("../img/firstpage/W.svg") no-repeat top right, linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
}

.first__page__header {
  padding: 45px 55px 0 55px;
}

.first__page__header:after {
  content: "";
  display: table;
  width: 100%;
}

.first__page__header__logo {
  float: left;
}

nav {
  float: left;
  padding-left: 144px;
}

.menu {
  display: block;
}
.menu li {
  float: left;
  display: block;
}

.menu a, .first__page__header__navigation a {
  color: #272D4E;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-right: 38px;
}

.first__page__header__navigation {
  float: right;
}

.first__page__header__navigation__button {
  width: 120px;
  height: 47px;
  background-color: #7854F7;
  color: #fff;
  border-radius: 4px;
  margin-right: 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border: none;
}

.first__page__center {
  padding-left: 220px;
}

.first__page__center:after {
  content: "";
  display: table;
  width: 100%;
}

.first__page__center__left__container {
  width: 50%;
  float: left;
  padding-top: 200px;
}

.first__page__center__left__container__title {
  font-family: Circular Std Book;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 95px;
  color: #272D4E;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  padding-top: 30px;
  color: #94A2B3;
}

.first__page__center__left__container__flex__from__button {
  display: inline-flex;
}

.first__page__center__left__container__button {
  margin-top: 30px;
  width: 267px;
  height: 72px;
  background: #7854F7;
  border-radius: 60px;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  outline: none;
}

.href {
  padding-top: 55px;
  padding-left: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #94A2B3;
}
.href a {
  color: #29AAF3;
  text-decoration: none;
  font-weight: bold;
}

.first__page__center__right__container {
  position: relative;
}

.first__page__center__table__one {
  position: absolute;
  content: "";
  left: 1280px;
  top: 120px;
}

.first__page__center__table__two {
  position: absolute;
  content: "";
  left: 850px;
  top: 270px;
}

.first__page__center__table__three {
  position: absolute;
  content: "";
  left: 1430px;
  top: 700px;
}

.circle {
  width: 0;
  height: 0;
  margin: 0 53px 53px 0;
  border-radius: 50%;
}

.blue {
  border: 4px solid #29AAF3;
}

.violet {
  border: 4px solid #7854F7;
}

.firstPageSneakers {
  position: absolute;
  top: 270px;
  left: 970px;
}

.firstPageTwoGirls {
  position: absolute;
  top: 180px;
  left: 880px;
  border-radius: 20px;
}

.first__page__center__right__container__button__sale {
  position: absolute;
  width: 147px;
  height: 54px;
  left: 1250px;
  top: 244px;
  background: #70C217;
  border-radius: 27px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: Circular Std Book;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.4em;
  color: #FFFFFF;
}

.first__page__center__right__container__button__basket {
  position: absolute;
  width: 76px;
  height: 76px;
  left: 935px;
  top: 600px;
  background-color: #FFBA49;
  border-radius: 50%;
  border: none;
  outline: none;
}

.first__page__center__right__container__button__logoshield {
  position: absolute;
  width: 98px;
  height: 68px;
  left: 1485px;
  top: 670px;
  background-color: #EF4358;
  border-radius: 31px;
  border: none;
  outline: none;
}

.first__page__center__right__container__order {
  position: absolute;
  width: 300px;
  height: 422px;
  left: 1420px;
  top: 270px;
  background: #FFFFFF;
  border: 1px solid #E5EFFF;
  box-sizing: border-box;
}

.first__page__center__right__container__order__shoes {
  float: left;
  margin-top: 46px;
  margin-left: 40px;
  font-family: Circular Std Book;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  color: #272D4E;
}

.first__page__center__right__container__order__marka {
  float: left;
  margin-top: 46px;
  margin-left: 9px;
  font-family: Circular Std Book;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #868686;
}

.first__page__center__right__container__order__marka__title {
  margin-top: 87px;
  margin-left: 40px;
  font-family: Circular Std Book;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  color: #222222;
}

.first__page__center__right__container__order__size {
  margin-top: 40px;
  margin-left: 40px;
}

.change__size {
  margin-right: 12px;
  width: 29px;
  height: 29px;
  background: #F6F6F6;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #868686;
  border: none;
  outline: none;
}

.first__page__center__right__container__order__price {
  margin-top: 25px;
  margin-left: 40px;
  float: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #7854F7;
}

.first__page__center__right__container__order__oldprice {
  margin-top: 60px;
  margin-left: -33px;
  float: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #868686;
}

.first__page__center__right__container__order__count {
  margin-top: 25px;
  margin-right: 36px;
  padding-top: 12px;
  float: right;
  text-align: center;
  width: 125px;
  height: 29px;
  background: #F6F6F6;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
}

.first__page__center__right__container__order__count__minus {
  margin-left: 13px;
  margin-top: -7px;
  width: 7px;
  height: 2px;
  background-color: #222222;
  border-radius: 1px;
}

.first__page__center__right__container__order__count__plus {
  margin-left: 100px;
  margin-top: -2px;
  width: 7px;
  height: 2px;
  background-color: #222222;
  border-radius: 1px;
  position: relative;
}
.first__page__center__right__container__order__count__plus::after {
  position: absolute;
  content: "";
  margin-left: -4px;
  margin-top: 0px;
  width: 7px;
  height: 2px;
  background-color: #222222;
  border-radius: 1px;
  transform: rotate(90deg);
}

.first__page__center__right__container__order__addtocard {
  margin-left: 40px;
  margin-top: 27px;
  width: 268px;
  height: 49px;
  background: #7854F7;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  border: none;
  outline: none;
}

.first__page__center__right__container__payment {
  padding-left: 19px;
  position: absolute;
  width: 387px;
  height: 248px;
  left: 1057px;
  top: 600px;
  background: #FFFFFF;
  border-radius: 23px;
}

.first__page__center__right__container__payment__strip {
  width: 368px;
  border-bottom: 1px solid #E5EFFF;
  position: relative;
  padding-bottom: 25px;
}

.first__page__center__right__container__payment__paypal {
  width: 368px;
  border-bottom: 1px solid #E5EFFF;
  position: relative;
  padding-bottom: 20px;
}

.first__page__center__right__container__payment__bank {
  width: 368px;
  position: relative;
}

.logopayment {
  margin-left: 27px;
  margin-top: 23px;
  float: left;
}

.paypal__logo {
  margin-top: 13px;
}

.bank__logo {
  margin-left: 60px;
}

.first__page__center__right__container__payment__text {
  margin-left: 44px;
  margin-top: 28px;
  float: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  color: #94A2B3;
}

.paypal__text {
  margin-left: 33px;
}

.bank__text {
  margin-left: 65px;
}

.toggle {
  opacity: 0;
}
.toggle + label:before {
  position: absolute;
  content: "";
  right: 23px;
  margin-top: 25px;
  display: inline-block;
  vertical-align: text-top;
  width: 47px;
  height: 24px;
  background: #DAE5F7;
  border-radius: 12px;
  transition: 0.4s;
}
.toggle + label::after {
  margin-top: 25px;
  content: "";
  position: absolute;
  right: 48px;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #7854F7;
  transition: 0.4s;
}
.toggle:checked + label:before {
  background: #70C217;
  transition: 0.4s;
}
.toggle:checked + label:after {
  right: 30px;
  background: #fff;
  transition: 0.4s;
}

.first__page__footer__text {
  padding-top: 250px;
  text-align: center;
  margin: 0 auto;
  font-family: Circular Std Book;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  width: 457px;
  color: #272D4E;
  padding-bottom: 56px;
}

.second__page__blockone {
  width: 430px;
  height: 600px;
  float: left;
  margin-left: 220px;
  position: relative;
}

.second__page__blockone__applePay {
  position: absolute;
  left: -30px;
  top: 40px;
}

.second__page__block__text {
  margin-left: 50px;
  margin-top: -20px;
  width: 440px;
}

.second__page__block__title {
  font-family: Circular Std Book;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 70px;
  color: #272D4E;
}

.second__page__block__title__subtitle {
  margin-top: -20px;
}

.second__page__block__text__href {
  padding-left: 0;
  padding-top: 20px;
}

.second__page__blockone__changing {
  position: absolute;
  top: 100px;
  left: -52px;
  width: 202px;
  height: 264px;
  background-color: #fff;
  border-radius: 10px;
}

.second__page__blockone__changing__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  padding-left: 5px;
}

.second__page__blockone__changing__subtitle {
  font-family: Roboto;
  font-size: 6px;
  line-height: 10px;
  padding-left: 5px;
}

.second__page__blockone__changing__stripe {
  display: flex;
  width: 192px;
  height: 50px;
  margin-left: 4px;
  border: 1px solid #29AAF3;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 5px;
  position: relative;
}

.second__page__blockone__changing__stripe__blockOne {
  width: 15%;
}

.second__page__blockone__changing__stripe__blockTwo {
  width: 48%;
}

.second__page__blockone__changing__stripe__blockThree {
  width: 35%;
}

.second__page__blockone__changing__stripe__img {
  width: 25px;
  padding-top: 10px;
  padding-left: 2px;
}

.second__page__blockone__changing__stripe__checkbox {
  margin-top: 5px;
  width: 5px;
}

.second__page__blockone__changing__stripe__textbox {
  width: 60px;
  height: 7px;
  font-size: 5px;
}

.second__page__blockone__changing__paypal {
  display: flex;
  width: 192px;
  height: 50px;
  margin-left: 4px;
  border: 1px solid #29AAF3;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 5px;
  position: relative;
}

.second__page__blocktwo {
  width: 430px;
  height: 600px;
  float: left;
  margin-left: 70px;
  margin-top: 75px;
  position: relative;
}

.facebooklogo {
  position: absolute;
  content: "";
  top: 110px;
  left: 50px;
}

.googleAdslogo {
  position: absolute;
  content: "";
  bottom: 170px;
  right: 60px;
}

.jetpacklogo {
  position: absolute;
  content: "";
  top: 140px;
  right: -10px;
}

.mailchimplogo {
  position: absolute;
  content: "";
  top: 25px;
  right: -70px;
}

.squarelogo {
  position: absolute;
  content: "";
  top: -40px;
  left: 50px;
}

.second__page__blockthree {
  width: 430px;
  height: 600px;
  float: left;
  margin-left: 70px;
  margin-top: 150px;
  position: relative;
}

.photooneblockthree {
  position: absolute;
  content: "";
  top: -130px;
  right: -60px;
}

.phototwoblockthree {
  position: absolute;
  content: "";
  top: -50px;
  left: 30px;
}

.photothreeblockthree {
  position: absolute;
  content: "";
  top: 115px;
  right: -170px;
}