$mainColor: #272D4E;
$backgroundButton: #7854F7;
$ffRoboto: Roboto;

* {
    margin: 0;
    padding: 0;
    //border: 1px solid red;
}

.first__page {
    background: url("../img/W.svg") no-repeat top right, linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
    width: 100%;
    height: 1000px;
}

.first__page__header {
    padding: 45px 55px 0 55px;
}

.first__page__header:after {
    content: '';
    display: table;
    width: 100%;
}

.first__page__header__logo {
    float: left;
}

nav {
    float: left;
    padding-left: 144px;
}

.menu {
    display: block;
    li {
        float: left;
        display: block;
    }
}

.menu a, .first__page__header__navigation a {
    color: $mainColor;
    text-decoration: none;
    font-family: $ffRoboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-right: 38px;
}

.first__page__header__navigation {
    float: right;
}

.first__page__header__navigation__button {
    width: 120px;
    height: 47px;
    background-color: $backgroundButton;
    color: #fff;
    border-radius: 4px;
    margin-right: 38px;
    font-family: $ffRoboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border: none;
}

.first__page__center {
    padding-left: 220px;
}

.first__page__center__left__container {
    width: 48%;
    float: left;
    padding-top: 200px;
}

.first__page__center__left__container__title {
    font-family: $ffRoboto;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 95px;
    color: $mainColor;
}

.first__page__center__left__container__subtitle {
    font-family: $ffRoboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding-top: 30px;
    color: #94A2B3;
}

.first__page__center__left__container__flex__from__button {
    display: inline-flex;
}

.first__page__center__left__container__button {
    margin-top: 30px;
    width: 267px;
    height: 72px;
    background: $backgroundButton;
    border-radius: 60px;
    border: none;
    color:#fff;
    font-family: $ffRoboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    outline: none;
}

.first__page__center__left__container__href {
    padding-top: 55px;
    padding-left: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #94A2B3;
    a {
        color:  #29AAF3;
        text-decoration: none;
        font-weight: bold;
    }

}