$mainTextColor: #272D4E;
$colorViolet: #7854F7;
$colorBlue: #29AAF3;
$colorGreen: #70C217;
$colorGray: #868686;
$colorRed: #EF4358;
$ffRoboto: Roboto;
$ffCircular: Circular Std Book;

@mixin absolute ($top, $left) {    
    position: absolute;
    content: '';
    top: $top;
    left: $left;
}

@mixin header__text {
    text-align: center;
    margin: 0 auto;    
    font-family: $ffCircular;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    color: $mainTextColor;
}

* {
    margin: 0;
    padding: 0;
    //border: 1px solid red;
}

body {
    width: 1920px;
    overflow-x: hidden;
}

.first__page {
    background: url("../img/firstpage/W.svg") no-repeat top right, linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
}

.first__page__header {
    padding: 45px 55px 0 55px;
}

.first__page__header:after {
    content: '';
    display: table;
    width: 100%;
}

.first__page__header__logo {
    float: left;
}

nav {
    float: left;
    padding-left: 144px;
}

.menu {
    display: block;
    li {
        float: left;
        display: block;
    }
}

.menu a, .first__page__header__navigation a {
    color: $mainTextColor;
    text-decoration: none;
    font-family: $ffRoboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-right: 38px;
}

.first__page__header__navigation {
    float: right;
}

.first__page__header__navigation__button {
    width: 120px;
    height: 47px;
    background-color: $colorViolet;
    color: #fff;
    border-radius: 4px;
    margin-right: 38px;
    font-family: $ffRoboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border: none;
}

.first__page__center {
    padding-left: 220px;
}

.first__page__center:after {
    content: '';
    display: table;
    width: 100%;
}

.first__page__center__left__container {
    width: 50%;
    float: left;
    padding-top: 200px;
}

.first__page__center__left__container__title {
    font-family: $ffCircular;
    font-weight: bold;
    font-size: 85px;
    line-height: 95px;
    color: $mainTextColor;
}

.subtitle {
    font-family: $ffRoboto;
    font-size: 18px;
    line-height: 25px;
    padding-top: 30px;
    color: #94A2B3;
}

.first__page__center__left__container__flex__from__button {
    display: inline-flex;
}

.first__page__center__left__container__button {
    margin-top: 30px;
    width: 267px;
    height: 72px;
    background: $colorViolet;
    border-radius: 60px;
    border: none;
    color:#fff;
    font-family: $ffRoboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    outline: none;
}

.href {
    padding-top: 55px;
    padding-left: 12px;
    font-family: $ffRoboto;
    font-size: 18px;
    line-height: 25px;
    color: #94A2B3;
    a {
        color:  #29AAF3;
        text-decoration: none;
        font-weight: bold;
    }

}

.first__page__center__right__container {
    position: relative;
}

.first__page__center__table__one {
    position: absolute;
    content: '';
    left: 1280px;
    top: 120px;
}

.first__page__center__table__two {
    position: absolute;
    content: '';
    left: 850px;
    top: 270px;
}

.first__page__center__table__three {
    position: absolute;
    content: '';
    left: 1430px;
    top: 700px;
}

.circle {
    width: 0;
    height: 0;
    margin: 0 53px 53px 0;
    border-radius: 50%;
}

.blue {
    border: 4px solid $colorBlue;
}

.violet {
    border: 4px solid $colorViolet;
}

.green {
    border: 4px solid $colorGreen;
}

.red {
    border: 4px solid $colorRed;
}

.firstPageSneakers {
    position: absolute;
    top: 270px;
    left: 970px;
}

.firstPageTwoGirls {
    position: absolute;
    top: 180px;
    left: 880px;
    border-radius: 20px;
}

.first__page__center__right__container__button__sale {
    position: absolute;
    width: 147px;
    height: 54px;
    left: 1250px;
    top: 244px;
    background: $colorGreen;
    border-radius: 27px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: $ffCircular;
    font-weight: bold;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.4em;
    color: #FFFFFF;
}

.first__page__center__right__container__button__basket {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 935px;
    top: 600px;
    background-color: #FFBA49;
    border-radius: 50%;
    border: none;
    outline: none;
}

.first__page__center__right__container__button__logoshield {
    position: absolute;
    width: 98px;
    height: 68px;
    left: 1485px;
    top: 670px;
    background-color: #EF4358;;
    border-radius: 31px;
    border: none;
    outline: none;
}

.first__page__center__right__container__order {
    position: absolute;
    width: 300px;
    height: 422px;
    left: 1420px;
    top: 270px;
    background: #FFFFFF;
    border: 1px solid #E5EFFF;
    box-sizing: border-box;
}

.first__page__center__right__container__order__shoes {
    float: left;
    margin-top: 46px;
    margin-left: 40px;
    font-family: $ffCircular;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    color: $mainTextColor;
}

.first__page__center__right__container__order__marka {
    float: left;
    margin-top: 46px;
    margin-left: 9px;
    font-family: $ffCircular;
    font-size: 12px;
    line-height: 15px;
    color: $colorGray;
}

.first__page__center__right__container__order__marka__title {    
    margin-top: 87px;
    margin-left: 40px;
    font-family: $ffCircular;
    font-size: 30px;
    line-height: 38px;
    color: #222222;
}

.first__page__center__right__container__order__size {
    margin-top: 40px;
    margin-left: 40px;
}

.change__size {
    margin-right: 12px;
    width: 29px;
    height: 29px;
    background: #F6F6F6;
    border-radius: 5px;
    font-family: $ffRoboto;
    font-size: 9px;
    line-height: 11px;
    color: $colorGray;
    border: none;
    outline: none;
}

.first__page__center__right__container__order__price {    
    margin-top: 25px;
    margin-left: 40px;
    float: left;
    font-family: $ffRoboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    color: $colorViolet;
}

.first__page__center__right__container__order__oldprice {
    margin-top: 60px;
    margin-left: -33px;
    float: left;
    font-family: $ffRoboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration-line: line-through;
    color: $colorGray;
}

.first__page__center__right__container__order__count {
    margin-top: 25px; 
    margin-right: 36px; 
    padding-top: 12px; 
    float: right;
    text-align: center;
    width: 125px;
    height: 29px;
    background: #F6F6F6;
    border-radius: 5px;
    font-family: $ffRoboto;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
}

.first__page__center__right__container__order__count__minus {
    margin-left: 13px;
    margin-top: -7px;
    width: 7px;
    height: 2px;
    background-color: #222222;
    border-radius: 1px;
}

.first__page__center__right__container__order__count__plus {
    margin-left: 100px;
    margin-top: -2px;
    width: 7px;
    height: 2px;
    background-color: #222222;
    border-radius: 1px;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        margin-left: -4px;
        margin-top: 0px;
        width: 7px;
        height: 2px;
        background-color: #222222;
        border-radius: 1px;
        transform: rotate(90deg);
    }
}

.first__page__center__right__container__order__addtocard {
    margin-left: 40px;
    margin-top: 27px;
    width: 268px;
    height: 49px;
    background: $colorViolet;
    border-radius: 5px;
    font-family: $ffRoboto;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;    
    border: none;
    outline: none;
}

.first__page__center__right__container__payment {
    padding-left: 19px;
    position: absolute;
    width: 387px;
    height: 248px;
    left: 1057px;
    top: 600px;
    background: #FFFFFF;
    border-radius: 23px;
}

.first__page__center__right__container__payment__strip {
    width: 368px;
    border-bottom: 1px solid #E5EFFF;    
    position: relative;
    padding-bottom: 25px;
}

.first__page__center__right__container__payment__paypal {
    width: 368px;
    border-bottom: 1px solid #E5EFFF;    
    position: relative;
    padding-bottom: 20px;
}

.first__page__center__right__container__payment__bank {
    width: 368px; 
    position: relative;
}

.logopayment {
    margin-left: 27px;
    margin-top: 23px;
    float: left;
}

.paypal__logo {
    margin-top: 13px;
}

.bank__logo {
    margin-left: 60px;
}

.first__page__center__right__container__payment__text {
    margin-left: 44px;
    margin-top: 28px;
    float: left;
    font-family: $ffRoboto;
    font-size: 12px;
    line-height: 25px;
    color: #94A2B3;
}

.paypal__text {
    margin-left: 33px;
}

.bank__text {
    margin-left: 65px;
}

.toggle {
    opacity: 0;

    & + label:before {
        position: absolute;
        content: '';
        right: 23px;
        margin-top: 25px;
        display: inline-block;
        vertical-align: text-top;
        width: 47px;
        height: 24px;
        background: #DAE5F7;
        border-radius: 12px;  
        transition: .4s;          
    }

    & + label:after {
        margin-top: 25px;
        content: '';
        position: absolute;
        right: 48px;
        top: 4px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $colorViolet;
        transition: .4s;
    }
    
    &:checked + label:before {
        background: $colorGreen;     
        transition: .4s;
    }
  
    &:checked + label:after {
        right: 30px;
        background: #fff;
        transition: .4s;
    }
  }

//Second Page

.second__page__header__text {
    @include header__text();    
    width: 457px;
    padding-top: 255px;
    padding-bottom: 56px;
}

.second__page__blockone {
    width: 430px;
    height: 600px;
    float: left;
    margin-left: 220px;
    position: relative;
}

.second__page__blockone__applePay {    
    @include absolute(40px, -30px);
}

.second__page__block__text {
    margin-left: 50px;
    margin-top: -20px;
    width: 440px;
}

.second__page__block__title {
    font-family: $ffCircular;
    font-weight: bold;
    font-size: 36px;
    line-height: 70px;
    color: $mainTextColor;
}
.second__page__block__title__subtitle {
    margin-top: -20px;
}

.second__page__block__text__href {
    padding-left: 0;
    padding-top: 20px;
}

.second__page__blockone__changing {
    position: absolute;
    top: 100px;
    left: -52px;
    width: 202px;
    height: 264px;
    background-color: #fff;
    border-radius: 10px;
}

.second__page__blockone__changing__title {
    font-family: $ffRoboto;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    padding-left: 5px;
}

.second__page__blockone__changing__subtitle {
    font-family: $ffRoboto;
    font-size: 6px;
    line-height: 10px;
    padding-left: 5px;
}

.second__page__blockone__changing__stripe {
    display: flex;
    width: 192px;
    height: 50px;
    margin-left: 4px;
    border: 1px solid $colorBlue;
    border-radius: 8px;
    font-family: $ffRoboto;
    font-size: 5px;
    position: relative;
}

.second__page__blockone__changing__stripe__blockOne {
    width: 15%;
}

.second__page__blockone__changing__stripe__blockTwo {
    width: 48%;
}

.second__page__blockone__changing__stripe__blockThree {
    width: 35%;
}

.second__page__blockone__changing__stripe__img {
    width: 25px;
    padding-top: 10px;
    padding-left: 2px;
}

.second__page__blockone__changing__stripe__text {
}

.second__page__blockone__changing__stripe__checkbox {
    margin-top: 5px;
    width: 5px;
}

.second__page__blockone__changing__stripe__textbox {
    width: 60px;
    height: 7px;
    font-size: 5px;
}
.second__page__blockone__changing__paypal {
    display: flex;
    width: 192px;
    height: 50px;
    margin-left: 4px;
    border: 1px solid $colorBlue;
    border-radius: 8px;
    font-family: $ffRoboto;
    font-size: 5px;
    position: relative;
}

.second__page__blocktwo {    
    width: 430px;
    height: 600px;
    float: left;
    margin-left: 70px;
    margin-top: 75px;
    position: relative
}

.facebooklogo {
    @include absolute(110px, 50px);
}

.googleAdslogo {
    @include absolute(249px, 153px);
}

.jetpacklogo {
    @include absolute(140px, 229px);
}

.mailchimplogo {
    @include absolute(25px, 289px);
}

.squarelogo {    
    @include absolute(-40px, 50px);
}

.second__page__blockthree {
    width: 430px;
    height: 600px;
    float: left;
    margin-left: 70px;
    margin-top: 150px;
    position: relative
}

.photooneblockthree {
    @include absolute(-130px, 270px);
}

.phototwoblockthree {
    @include absolute(-50px, 30px);
}

.photothreeblockthree {
    @include absolute(115px, 325px);
}

// Third page

.third__page {
    margin-top: 958px;
    width: 100%;
    height: 1110px;
    background: url("../img/thirdpage/woo.svg") no-repeat top right, $colorViolet;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        top: -30px;
        width: 100%;
        height: 60px;
        background-color: #fff;
        border-radius: 1920px/30px;
        z-index: 1;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: -30px;
        width: 100%;
        height: 60px;
        background-color: #fff;
        border-radius: 1920px/30px;
        z-index: 1;
    }
}

.third__page__center__table__one {
    @include absolute(376px, 250px);
}

.third__page__center__table__two {
    @include absolute(752px, 1595px);
}

.third__page__circle__one {
    @include absolute(127px, 217px);
    width: 65px;
    height: 65px;
}

.third__page__circle__two {
    @include absolute(172px, 237px);
    width: 401px;
    height: 401px;
}

.third__page__circle__three {
    @include absolute(536px, 1441px);
    width: 262px;
    height: 262px;
}

.third__page__circle__four {
    @include absolute(514px, 1236px);
    width: 65px;
    height: 65px;
    z-index: 3;
}

.background__circle {
    border: 5px solid #FFBA49;
    box-sizing: border-box;
    border-radius: 50%;
}

.third__page__planing {
    @include absolute(520px, 1070px);
    z-index: 2;
}

.third__page__chinaGirls {
    @include absolute(-50px, 300px);  
    z-index: 2;
}

.text__one {
    @include absolute(97px, 845px); 
}

.text__two {
    @include absolute(590px, 595px); 
}

.third__page__information {
    width: 485px;
    height: 400px;
}

.third__page__title {
    width: 80%;
    font-family: $ffCircular;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.third__page__subtitle {
    padding-top: 13px;
    font-family: $ffRoboto;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.third__page__button {
    margin-top: 40px;
    width: 256px;
    height: 64px;
    background: $colorGreen;
    border-radius: 32px;
    font-family: $ffRoboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    outline: none;
}

//fourth__page

.fourth__page {
    margin-top: 100px;
    width: 100%;
    height: 1209px;
    background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
    position: relative;
}

.fourth__page__table__one {  
    @include absolute(660px, 450px);  
}

.fourth__page__table__two {    
    @include absolute(407px, 1342px);
}

.fourth__page__photo11 {
    @include absolute(223px, 391px);
    width: 136px;
    height: 136px;
    background: url("../img/fourthpage/photo11.png") no-repeat center top;
}

.fourth__page__photo12 {
    @include absolute(438px, 102px);
}

.fourth__page__photo13 {
    @include absolute(780px, 256px);
}

.fourth__page__photo21 {
    @include absolute(209px, 1378px);
}

.fourth__page__photo22 {
    @include absolute(466px, 1533px);    
}

.fourth__page__photo23 {
    @include absolute(844px, 1435px);
}

.fourth__page__header__text {
    @include header__text();
    padding-top: 138px;
    width: 530px;
}

.fourth__page__information {
    margin: 0 auto;
    margin-top: 103px;
    position: relative;
    width: 730px;
    height: 391px;    
    background: url("../img/fourthpage/twocommas.svg") no-repeat center top 28px, #fff;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    border-radius: 20px;
    z-index: 3;
    position: relative;
    &::before {  
        @include absolute(391px, 26px);   
        border-radius: 0 0  20px 20px;
        background: linear-gradient( to bottom, rgba(215, 228, 249), rgba(234, 242, 255));
        width: 678px;
        height: 28px;
        z-index: 2;
    }
    &::after {  
        @include absolute(419px, 56px);   
        border-radius: 0 0  20px 20px;
        background: linear-gradient( to bottom, rgba(215, 228, 249), rgba(234, 242, 255));
        width: 618px;
        height: 20px;
        z-index: 2;
    }
}

.fourth__page__information__text {    
    font-family: $ffCircular;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 39px;
    text-align: center;
    color: #94A2B3;
    padding: 106px 82px 87px 82px;
}

.fourth__page__information__forward__arrow {
    @include absolute(500px, 600px);
    width: 31px;
    height: 2px;
    background: rgb(127, 127, 127);
    transition: .4s;
    &:before {
        @include absolute(-3px, 23px);
        width: 10px;
        height: 2px;
        background: rgb(127, 127, 127);
        transform: rotate(45deg);
        transition: .4s;
    }
    &:after {
        @include absolute(3px, 23px);
        width: 10px;
        height: 2px;
        background: rgb(127, 127, 127);
        transform: rotate(-45deg);        
        transition: .4s;
    }

    &:hover {
        @include absolute(498px, 581px);
        width: 50px;
        height: 4px;
        background: #000;
        transition: .4s;
    }

    &:hover:before {
        @include absolute(-4px, 38px);
        width: 15px;
        height: 4px;
        background: #000;
        transition: .4s;
    }

    &:hover:after {
        @include absolute(4px, 38px);
        width: 15px;
        height: 4px;
        background: #000;
        transition: .4s;
    }
}

.fourth__page__information__back__arrow {
    
    @include absolute(500px, 500px);
    width: 31px;
    height: 2px;
    background: rgb(127, 127, 127);
    transition: .4s;
    &:before {
        @include absolute(-3px, -3px);
        width: 10px;
        height: 2px;
        background: rgb(127, 127, 127);
        transform: rotate(-45deg);
        transition: .4s;
    }
    &:after {
        @include absolute(3px, -3px);
        width: 10px;
        height: 2px;
        background: rgb(127, 127, 127);
        transform: rotate(45deg);        
        transition: .4s;
    }

    &:hover {
        @include absolute(498px, 500px);
        width: 50px;
        height: 4px;
        background: #000;
        transition: .4s;
    }

    &:hover:before {
        @include absolute(-4px, -3px);
        width: 15px;
        height: 4px;
        background: #000;
        transition: .4s;
    }

    &:hover:after {
        @include absolute(4px, -3px);
        width: 15px;
        height: 4px;
        background: #000;
        transition: .4s;
    }
}

// fifth page

.fifth__page {    
    width: 100%;
    height: 1495px;
    position: relative;
    background: url("../img/fifthpage/backgroundcircle.svg") no-repeat center top 265px;
}

.fifth__page__table__one {
    @include absolute(386px, 83px);
}

.fifth__page__table__two {
    @include absolute(257px, 1566px);
}

.fifth__page__header__title {    
    @include header__text();
    margin-top: -35px;
    width: 650px;
}

.fifth__page__header__subtitle {
    margin: 0 auto;
    padding-top: 31px;
    width: 660px;
    font-family: $ffRoboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #94A2B3;
}

.fifth__page__circle__one {   
    @include absolute(201px, 100px);
    width: 61px;
    height: 61px;
}

.fifth__page__circle__two {   
    @include absolute(329px, 194px);
    width: 34px;
    height: 34px;
}

.fifth__page__circle__three {   
    @include absolute(167px, 1614px);
    width: 43px;
    height: 43px;
}

.fifth__page__people {
    @include absolute(132px, 305px);
}

.fifth__page__block__getStarted {
    margin-top: 274px;
    width: 100%;
    height: 261px;
    background-color: #5F37EF;
}

.fifth__page__block__getStarted__text {
    padding-top: 78px;
    width: 855px;
    margin: 0 auto;
    font-family: $ffRoboto;
    font-size: 36px;
    line-height: 52px;
    color: #FFFFFF;
}

.fifth__page__block__getStarted__button {
    margin-top: -90px;
    float: right;
    margin-right: 200px;
    width: 207px;
    height: 72px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 36px;
    font-family: $ffRoboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    outline: none;
    background-color: transparent;
}

.fifth__page__block__aboutus {    
    width: 100%;
    height: 741px;
    background-color: $colorViolet;
    position: relative;
    &::after {
        @include absolute(326px, 220px);
        width: 1480px;
        height: 0;
        border-bottom: 1px solid #9A7DFF;
    }
}

.fifth__page__block__aboutus__block {
    img {
        float: left;
        padding-left: 118px;
        padding-top: 45px;
    }
    p {
        padding-top: 40px;
        padding-left: 15px;
        float: left;
        font-family: $ffRoboto;
        font-size: 20px;
        line-height: 52px;
        color: #FFFFFF;
    }
    &:first-child {
        img {
            padding-left: 348px;
        }
    }
}

.fifth__page__block__aboutus__logo {
    margin-left: 868px;
    margin-top: 140px;
}

.fifth__page__block__aboutus__table {
    padding-top: 90px;
    margin: 0 auto;
    font-family: $ffRoboto;
    font-weight: bold;
    color: #FFFFFF;
    thead {
        font-size: 14px;
        line-height: 52px;
        text-transform: uppercase;
    }
    tbody {
        font-size: 12px;
        line-height: 22px;
        font-weight: normal;
    }
    td {
        padding: 0 69px;
    }
}

.fifth__page__block__footer {
    padding-left: 194px;
    img {
        display: inline;
        padding-top: 26px;
        padding-left: 54px;
    }
    p {
        padding: 0 346px 0 283px;
        display: inline;
        font-family: $ffRoboto;
        font-size: 12px;
        line-height: 22px;
        color: $mainTextColor;
    }
}