@import "media_mixin.scss";

$mainTextColor: #272D4E;
$colorViolet: #7854F7;
$colorBlue: #29AAF3;
$colorGreen: #70C217;
$colorGray: #868686;
$colorRed: #EF4358;
$ffRoboto: Roboto;
$ffCircular: Circular Std Book;

@mixin absolute ($top, $left) {    
    position: absolute;
    content: '';
    top: $top;
    left: $left;
}

@mixin header__text {
    text-align: center;
    margin: 0 auto;    
    font-family: $ffCircular;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    color: $mainTextColor;
    @include _375 {
        font-size: 30px;
        line-height: 35px;
    }
}

@mixin subtitle {   
    color: $mainTextColor;
    font-family: $ffRoboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    @include _375 {
        font-size: 14px;
        line-height: 16px;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    overflow-x: hidden;
    @include _375 {
        width: 100%;
    }
}

.first__page {
    background: url("../img/firstpage/W.svg") no-repeat top right, linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
    @include _375 {
        background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
    }
}

.first__page__header {
    padding: 45px 55px 0 55px;
    @include _375 {
        padding: 15px 5px 0 5px;
    }
}

.first__page__header:after {
    content: '';
    display: table;
    width: 100%;
}

.first__page__header__logo {
    float: left;
    @include _375 {
        float: none;
        text-align: center;
        padding-bottom: 10px;
    }
}

nav {
    float: left;
    padding-left: 144px;
    @include _375 {
        float: none;
        padding: 0;
        margin: 0 auto;
    }
}

.menu {
    display: block;
    li {
        float: left;
        display: block;
        @include _375 {
            float: none;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

.menu a, .first__page__header__navigation a {
    @include subtitle();
    text-decoration: none;
    padding-right: 38px;
    @include _375 {
        padding: 0;
    }
}

.first__page__header__navigation {
    float: right;
    @include _375 {
        float: none;
        padding: 10px;
        img {
            float: right;
            padding-top: 15px;
        }

    }
}

.first__page__header__navigation__button {
    @include subtitle();
    width: 120px;
    height: 47px;
    background-color: $colorViolet;
    color: #fff;
    border-radius: 4px;
    margin-right: 38px;
    border: none;
    outline: none;
    @include _375 {
        margin-left: 20%;
    }    
    &:hover {
        border: 2px solid $colorGray;
    }
}

.first__page__center {
    padding-left: 220px;
    @include _375 {
        padding: 0;
    }
}

.first__page__center:after {
    content: '';
    display: table;
    width: 100%;
}

.first__page__center__left__container {
    width: 50%;
    float: left;
    padding-top: 200px;
    @include _375 {        
        width: 100%;
        float: none;
        padding-top: 30px;
    }
}

.first__page__center__left__container__title {
    font-family: $ffCircular;
    font-weight: bold;
    font-size: 85px;
    line-height: 95px;
    color: $mainTextColor;
    @include _375 {
        text-align: center;
        font-size: 35px;
        line-height: 40px;
    }
}

.subtitle {
    @include subtitle();
    line-height: 25px;
    padding-top: 30px;
    color: #94A2B3;
    @include _375 {
        padding-top: 20px;
        text-align: center;
        margin: 0 10px;
    }
}

.first__page__center__left__container__flex__from__button {
    display: inline-flex;
    @include _375 {
        display: block;
        text-align: center;
    }
}

.first__page__center__left__container__button {
    @include subtitle();
    margin-top: 30px;
    width: 267px;
    height: 72px;
    background: $colorViolet;
    border-radius: 60px;
    border: none;
    color:#fff;
    outline: none;
    @include _375 {
        margin-top: 20px;
        height: 50px;
        border-radius: 25px;
    }
    &:hover {
        border: 2px solid $colorGray;
    }
}

.href {
    @include subtitle();
    padding-top: 55px;
    padding-left: 12px;
    line-height: 25px;
    color: #94A2B3;
    @include _375 {
        padding-top: 20px;
        padding-left: 0;
    }
    a {
        color:  #29AAF3;
        text-decoration: none;
        font-weight: bold;
    }

}

.first__page__center__right__container {
    position: relative;
    @include _375 {
        text-align: center;
    }
}

.first__page__center__table__one {
    @include absolute(120px, 1280px);
    @include _375 {
        display: none
    }
}

.first__page__center__table__two {
    @include absolute(270px, 850px);
    @include _375 {
        display: none
    }
}

.first__page__center__table__three {
    @include absolute(700px, 1430px);
    @include _375 {
        @include absolute(100px, 50px);
    }
}

.circle {
    width: 0;
    height: 0;
    margin: 0 53px 53px 0;
    border-radius: 50%;
}

.blue {
    border: 4px solid $colorBlue;
}

.violet {
    border: 4px solid $colorViolet;
}

.green {
    border: 4px solid $colorGreen;
}

.red {
    border: 4px solid $colorRed;
}

.firstPageSneakers {
    @include absolute(270px, 970px);
    @include _375 {
        display: none
    }
}

.firstPageTwoGirls {
    @include absolute(180px, 880px);
    border-radius: 20px;
    @include _375 {
        @include absolute(140px, 50px);
    }
}

.first__page__center__right__container__button__sale {
    @include absolute(244px, 1250px);
    width: 147px;
    height: 54px;
    background: $colorGreen;
    border-radius: 27px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: $ffCircular;
    font-weight: bold;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.4em;
    color: #FFFFFF;
    @include _375 {
        position: static;
        width: 267px;
        margin-top: 45px;
    }
    &:hover {
        border: 2px solid $colorGray;
    }
}

.first__page__center__right__container__button__basket {
    @include absolute(600px, 935px);
    width: 76px;
    height: 76px;
    background-color: #FFBA49;
    border-radius: 50%;
    border: none;
    outline: none;
    @include _375 {
        @include absolute(790px, 30px);
    }
    &:hover {
        border: 2px solid $colorGray;
    }
}

.first__page__center__right__container__button__logoshield {
    @include absolute(670px, 1485px);
    width: 98px;
    height: 68px;
    background-color: #EF4358;;
    border-radius: 31px;
    border: none;
    outline: none;
    @include _375 {
        @include absolute(795px, 190px);
    }
    &:hover {
        border: 2px solid $colorGray;
    }
}

.first__page__center__right__container__order {
    @include absolute(270px, 1420px);
    width: 300px;
    height: 422px;
    background: #FFFFFF;
    border: 1px solid #E5EFFF;
    box-sizing: border-box;
    @include _375 {
        @include absolute(380px, 35px);
    }
}

.first__page__center__right__container__order__shoes {
    float: left;
    margin-top: 46px;
    margin-left: 40px;
    font-family: $ffCircular;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    color: $mainTextColor;
}

.first__page__center__right__container__order__marka {
    float: left;
    margin-top: 46px;
    margin-left: 9px;
    font-family: $ffCircular;
    font-size: 12px;
    line-height: 15px;
    color: $colorGray;
}

.first__page__center__right__container__order__marka__title {    
    margin-top: 87px;
    margin-left: 40px;
    font-family: $ffCircular;
    font-size: 30px;
    line-height: 38px;
    color: #222222;
}

.first__page__center__right__container__order__size {
    margin-top: 40px;
    margin-left: 40px;
}

.change__size {
    @include subtitle();
    margin-right: 12px;
    width: 29px;
    height: 29px;
    background: #F6F6F6;
    border-radius: 5px;
    font-size: 9px;
    line-height: 11px;
    color: $colorGray;
    border: none;
    outline: none;
}

.first__page__center__right__container__order__price {    
    @include subtitle();
    margin-top: 25px;
    margin-left: 40px;
    float: left;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    color: $colorViolet;
}

.first__page__center__right__container__order__oldprice {
    @include subtitle();
    margin-top: 60px;
    margin-left: -33px;
    float: left;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration-line: line-through;
    color: $colorGray;
}

.first__page__center__right__container__order__count {
    @include subtitle();
    margin-top: 25px; 
    margin-right: 36px; 
    padding-top: 12px; 
    float: right;
    text-align: center;
    width: 125px;
    height: 29px;
    background: #F6F6F6;
    border-radius: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
}

.first__page__center__right__container__order__count__minus {
    margin-left: 13px;
    margin-top: -7px;
    width: 7px;
    height: 2px;
    background-color: #222222;
    border-radius: 1px;
}

.first__page__center__right__container__order__count__plus {
    margin-left: 100px;
    margin-top: -2px;
    width: 7px;
    height: 2px;
    background-color: #222222;
    border-radius: 1px;
    position: relative;
    &::after {
        @include absolute(0, 0);
        width: inherit;
        height: inherit;
        background-color: inherit;
        border-radius: inherit;
        transform: rotate(90deg);
    }
}

.first__page__center__right__container__order__addtocard {
    margin-left: 40px;
    margin-top: 27px;
    width: 268px;
    height: 49px;
    background: $colorViolet;
    border-radius: 5px;
    font-family: $ffRoboto;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;    
    border: none;
    outline: none;
    @include _375 {
        margin-left: 5px;
    }
    &:hover {
        border: 2px solid $colorGray;
    }
}

.first__page__center__right__container__payment {
    @include absolute(600px, 1057px);
    padding-left: 19px;
    width: 387px;
    height: 248px;
    background: #FFFFFF;
    border-radius: 23px;
    @include _375 {
        @include absolute(780px, 15px);
        width: 90%;
    }
}

.first__page__center__right__container__payment__sistem {
    width: 368px;
    border-bottom: 1px solid #E5EFFF;    
    position: relative;
    padding-bottom: 25px; 
    @include _375 {
        width: 80%;
    }   
}

.sistem__bank {        
    border-bottom: 0px solid #E5EFFF;  
    padding-bottom: 0;
}

.logopayment {
    margin-left: 27px;
    margin-top: 23px;
    float: left;
    @include _375 {
        margin-left: 0;
    }
}

.paypal__logo {
    margin-top: 13px;
}

.bank__logo {
    margin-left: 60px;
    @include _375 {
        margin-left: 30px;
    }
}

.first__page__center__right__container__payment__text {
    margin-left: 44px;
    margin-top: 28px;
    float: left;
    font-family: $ffRoboto;
    font-size: 12px;
    line-height: 25px;
    color: #94A2B3;
    @include _375 {
        margin-left: 30px;
    }
}

.paypal__text {
    margin-left: 33px;
    @include _375 {
        margin-left: 10px;
    }
}

.bank__text {
    margin-left: 65px;
    @include _375 {
        margin-left: 55px;
    }
}

.toggle {
    opacity: 0;
    & + label:before {
        display: inline-block;
        vertical-align: text-top;
        background: #DAE5F7; 
        transition: .4s;          
    }

    & + label:after {
        background: $colorViolet;
        transition: .4s;
    }
    
    &:checked + label:before {
        background: $colorGreen;     
        transition: .4s;
    }
  
    &:checked + label:after {
        background: #fff;
        transition: .4s;
    }
}

.first__page__toggle {
    & + label:before {            
        @include absolute(30px, 300px);
        width: 47px;
        height: 24px;
        border-radius: 12px;
        @include _375 {
            @include absolute(30px, 234px);
        }         
    }

    & + label:after {
        @include absolute(34px, 304px);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        @include _375 {
            @include absolute(34px, 238px);
        }
    }
  
    &:checked + label:after {
        left: 327px;
        @include _375 {
            left: 260px;
        }
    }
}

//Second Page

.second__page__header__text {
    @include header__text();    
    width: 457px;
    padding-top: 255px;
    padding-bottom: 56px;
    @include _375 {
        width: 100%;
        padding-top: 1000px;
        padding-bottom: 5px;
    }
}

.second__page__block {
    margin-left: 70px;
    width: 430px;
    height: 600px;
    float: left;
    position: relative;
    @include _375 {
        width: 100%;
        height: auto;
        .main__img {
            width: 98%;
        }
        .first__main__img {
            padding-bottom: 60px;
        }
    }
}

.blockone {
    margin-left: 220px;
    @include _375 {
        margin-left: 0;
    }
}

.second__page__blockone__applePay {
    @include absolute(40px, -30px);
    @include _375 {
        @include absolute(40px, 10px);
    }
}

.second__page__block__text {
    margin-left: 50px;
    margin-top: -20px;
    width: 440px;
    @include _375 {
        float: left;
        text-align: center;
        margin-left: 0;
        width: 95%;
        padding: 100px 0 0 0;
    }
}

.second__page__block__title {
    @include header__text();  
    font-size: 36px;
    text-align: left;
    @include _375 {
        text-align: center;
        padding-bottom: 10px;
    }
}
.second__page__block__title__subtitle {
    margin-top: -20px;
}

.second__page__block__text__href {
    padding-left: 0;
    padding-top: 20px;
}

.second__page__blockone__changing {
    @include absolute(100px, -52px);
    width: 202px;
    height: 264px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    @include _375 {
        @include absolute(100px, 10px);
    }
}

.second__page__blockone__changing__title {
    font-family: $ffRoboto;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    padding-left: 5px;
}

.second__page__blockone__changing__subtitle {
    font-family: $ffRoboto;
    font-size: 6px;
    line-height: 10px;
    padding-left: 5px;
}

.second__page__blockone__changing__block {
    display: flex;
    width: 192px;
    height: 50px;
    margin-left: 4px;
    border: 1px solid rgba(215, 228, 249, 0.3);
    border-radius: 8px;
    font-family: $ffRoboto;
    font-size: 5px;
    position: relative;
    margin-bottom: 5px;
}

.second__page__blockone__changing__blockOne {
    width: 15%;
    padding-right: 10px;
}

.second__page__blockone__changing__blockTwo {
    width: 48%;
    position: relative;
}

.second__page__blockone__changing__blockThree {
    width: 35%;
}

.second__page__blockone__changing__img {
    width: 25px;
    padding-top: 15px;
    padding-left: 5px;
}

.second__page__blockone__changing__text {
    padding-top: 2px;
    padding-bottom: 0;
}

.second__page__toggle {
    & + label:before {            
        @include absolute(20px, 145px);
        width: 40px;
        height: 20px;
        border-radius: 12px;         
    }

    & + label:after {    
        @include absolute(23px, 149px);
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }
  
    &:checked + label:after {
        left: 167px;
    }
}

.second__page__blockone__changing__checkbox {
    width: 10px;
}

.second__page__blockone__changing__checkbox__span {    
    @include absolute(24px, 15px);
}

.second__page__blockone__changing__textbox {
    width: 80px;
    height: 10px;
    font-size: 9px;
}

.blocktwo {    
    margin-top: 75px;
    @include _375 {
        margin-left: 0;
    }
}

.facebooklogo {
    @include absolute(110px, 50px);
    @include _375 {
        width: 50%;
        @include absolute(110px, -40px);
    }
}

.googleAdslogo {
    @include absolute(249px, 153px);
    @include _375 {
        width: 50%;
        @include absolute(130px, 150px);
    }
}

.jetpacklogo {
    @include absolute(140px, 229px);
    @include _375 {
        width: 50%;
        @include absolute(-20px, 150px);
    }
}

.mailchimplogo {
    @include absolute(25px, 289px);
    @include _375 {
        width: 50%;
        @include absolute(220px, 50px);
    }
}

.squarelogo {    
    @include absolute(-40px, 50px);
    @include _375 {
        width: 50%;
        @include absolute(-40px, -40px);
    }
}

.blockthree {
    margin-top: 150px;
    @include _375 {
        margin-top: 50px;
        margin-left: 0;
    }
}

.photooneblockthree {
    @include absolute(-130px, 270px);
    @include _375 {
        width: 50%;
        @include absolute(140px, 160px);
    }
}

.phototwoblockthree {
    @include absolute(-50px, 30px);
    @include _375 {
        width: 50%;
        @include absolute(-50px, -30px);
    }
}

.photothreeblockthree {
    @include absolute(115px, 325px);
    @include _375 {
        width: 50%;
        @include absolute(180px, 0px);
    }
}

// Third page

.third__page {
    margin-top: 958px;
    width: 100%;
    height: 1110px;
    background: url("../img/thirdpage/woo.svg") no-repeat top right, $colorViolet;
    position: relative;
    @include _375 {
        margin-top: 1650px;
        height: 1200px;
    }
    &::before {
        @include absolute(-30px, 0);
        width: 100%;
        height: 60px;
        background-color: #fff;
        border-radius: 1920px/60px;
        z-index: 1;
    }
    &::after {
        @include absolute(1080px, 0);
        width: 100%;
        height: 60px;
        background-color: #fff;
        border-radius: 1920px/60px;
        z-index: 1;        
        @include _375 {
            @include absolute(1170px, 0);
        }
    }
}

.third__page__center__table__one {
    @include absolute(376px, 250px);
    @include _375 {
        display: none;
    }
}

.third__page__center__table__two {
    @include absolute(752px, 1595px);
    @include _375 {
        display: none;
    }
}

.third__page__circle__one {
    @include absolute(127px, 217px);
    width: 65px;
    height: 65px;
}

.third__page__circle__two {
    @include absolute(172px, 237px);
    width: 401px;
    height: 401px;
    @include _375 {
        display: none;
    }
}

.third__page__circle__three {
    @include absolute(536px, 1441px);
    width: 262px;
    height: 262px;
    @include _375 {
        display: none;
    }
}

.third__page__circle__four {
    @include absolute(514px, 1236px);
    width: 65px;
    height: 65px;
    z-index: 3;
    @include _375 {
        @include absolute(550px, 10px);
    }
}

.background__circle {
    border: 5px solid #FFBA49;
    box-sizing: border-box;
    border-radius: 50%;
}

.third__page__planing {
    @include absolute(520px, 1070px);
    z-index: 2;
    @include _375 {
        @include absolute(540px, 100px);  
        width: 60%;
    }
}

.third__page__chinaGirls {
    @include absolute(-50px, 300px);  
    z-index: 2;
    @include _375 {
        @include absolute(-10px, 5px);  
        width: 60%;
    }
}

.text__one {
    @include absolute(97px, 845px); 
    @include _375 {
        position: static;
    }
}

.text__two {
    @include absolute(590px, 595px); 
    @include _375 {
        position: static;
    }
}

.third__page__information {
    width: 485px;
    height: 400px;
    @include _375 {
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 250px;
    }
}

.third__page__title {
    width: 80%;
    font-family: $ffCircular;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    @include _375 {
        width: 100%;
        z-index: 6;
    }
}

.third__page__subtitle {
    @include subtitle();
    padding: 13px 10px;
    font-weight: normal;
    line-height: 30px;
    color: #FFFFFF;    
}

.third__page__button {
    @include subtitle();
    margin-top: 40px;
    width: 256px;
    height: 64px;
    background: $colorGreen;
    border-radius: 32px;
    color: #FFFFFF;
    border: none;
    outline: none;
    &:hover {
        border: 2px solid $colorGray;
    }
}

//fourth__page

.fourth__page {
    margin-top: 100px;
    width: 100%;
    height: 1209px;
    background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
    position: relative;
    @include _375 {
        margin-top: 50px;
        height: 700px;
    }
}

.fourth__page__table__one {  
    @include absolute(660px, 450px);
    @include _375 {
        display: none;
    }  
}

.fourth__page__table__two {    
    @include absolute(407px, 1342px);
    @include _375 {
        display: none;
    }
}

.fourth__page__photo11 {
    @include absolute(223px, 391px);
    @include _375 {
        @include absolute(500px, 120px);
    }
}

.fourth__page__photo12 {
    @include absolute(438px, 102px);
    @include _375 {
        @include absolute(70px, 20px);
    }
}

.fourth__page__photo13 {
    @include absolute(780px, 256px);
    @include _375 {
        display: none;
    }
}

.fourth__page__photo21 {
    @include absolute(209px, 1378px);
    @include _375 {
        display: none;
    }
}

.fourth__page__photo22 {
    @include absolute(466px, 1533px); 
    @include _375 {
        display: none;
    }   
}

.fourth__page__photo23 {
    @include absolute(844px, 1435px);
    @include _375 {
        display: none;
    }
}

.fourth__page__header__text {
    @include header__text();
    padding-top: 138px;
    width: 530px;
    @include _375 {
        width: 100%;
        padding: 0;
    }
}

.fourth__page__information {
    margin: 0 auto;
    margin-top: 103px;
    position: relative;
    width: 730px;
    height: 391px;    
    background: url("../img/fourthpage/twocommas.svg") no-repeat center top 28px, #fff;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    border-radius: 20px;
    z-index: 3;
    position: relative;
    @include _375 {
        margin-top: 100px;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    &::before {  
        @include absolute(391px, 26px);   
        border-radius: 0 0  20px 20px;
        background: linear-gradient( to bottom, rgba(215, 228, 249), rgba(234, 242, 255));
        width: 678px;
        height: 28px;
        z-index: 2;
        @include _375 {
            margin-top: 100px;
            width: 90%;
            bottom: -28px;
            left: 5%;
            top: auto;
        }
    }
    &::after {  
        @include absolute(419px, 56px);   
        border-radius: 0 0  20px 20px;
        background: linear-gradient( to bottom, rgba(215, 228, 249), rgba(234, 242, 255));
        width: 618px;
        height: 20px;
        z-index: 2;
        @include _375 {
            display: none;
        }
    }
}

.fourth__page__information__text {    
    font-family: $ffCircular;
    font-size: 27px;
    line-height: 39px;
    text-align: center;
    color: #94A2B3;
    padding: 106px 82px 87px 82px;
    @include _375 {
        padding: 50px 10px;
        font-size: 20px;
        line-height: 25px;
    }
}

.fourth__page__information__forward__arrow {
    @include absolute(500px, 600px);
    width: 31px;
    height: 2px;
    background: rgb(127, 127, 127);
    transition: .4s;
    @include _375 {
        @include absolute(300px, 240px);
    }
    &:before {
        @include absolute(-3px, 23px);
        width: 10px;
        height: 2px;
        background: rgb(127, 127, 127);
        transform: rotate(45deg);
        transition: .4s;
    }
    &:after {
        @include absolute(3px, 23px);
        width: 10px;
        height: 2px;
        background: rgb(127, 127, 127);
        transform: rotate(-45deg);        
        transition: .4s;
    }

    &:hover {
        @include absolute(498px, 581px);
        width: 50px;
        height: 4px;
        background: #000;
        transition: .4s;
        @include _375 {
            @include absolute(298px, 221px);
        }
    }

    &:hover:before {
        @include absolute(-4px, 38px);
        width: 15px;
        height: 4px;
        background: #000;
        transition: .4s;
    }

    &:hover:after {
        @include absolute(4px, 38px);
        width: 15px;
        height: 4px;
        background: #000;
        transition: .4s;
    }
}

.fourth__page__information__back__arrow {
    
    @include absolute(500px, 500px);
    width: 31px;
    height: 2px;
    background: rgb(127, 127, 127);
    transition: .4s;
    @include _375 {
        @include absolute(300px, 120px);
    }
    &:before {
        @include absolute(-3px, -3px);
        width: 10px;
        height: 2px;
        background: rgb(127, 127, 127);
        transform: rotate(-45deg);
        transition: .4s;
    }
    &:after {
        @include absolute(3px, -3px);
        width: 10px;
        height: 2px;
        background: rgb(127, 127, 127);
        transform: rotate(45deg);        
        transition: .4s;
    }

    &:hover {
        @include absolute(498px, 500px);
        width: 50px;
        height: 4px;
        background: #000;
        transition: .4s;
        @include _375 {
            @include absolute(298px, 120px);
        }
    }

    &:hover:before {
        @include absolute(-4px, -3px);
        width: 15px;
        height: 4px;
        background: #000;
        transition: .4s;
    }

    &:hover:after {
        @include absolute(4px, -3px);
        width: 15px;
        height: 4px;
        background: #000;
        transition: .4s;
    }
}

// fifth page

.fifth__page {    
    width: 100%;
    height: 1495px;
    position: relative;
    background: url("../img/fifthpage/backgroundcircle.svg") no-repeat center top 265px;
    @include _375 {
        background: none;
        height: auto;
    }
}

.fifth__page__table__one {
    @include absolute(386px, 83px);
    @include _375 {
        display: none;
    }
}

.fifth__page__table__two {
    @include absolute(257px, 1566px);
    @include _375 {
        display: none;
    }
}

.fifth__page__header__title {    
    @include header__text();
    margin-top: -35px;
    width: 650px;
    @include _375 {
        width: 100%;
    }
}

.fifth__page__header__subtitle {
    @include subtitle();
    margin: 0 auto;
    padding-top: 31px;
    width: 660px;
    font-weight: normal;
    line-height: 25px;
    text-align: center;
    color: #94A2B3;
    @include _375 {
        width: 90%;
    }
}

.fifth__page__circle__one {   
    @include absolute(201px, 100px);
    width: 61px;
    height: 61px;
}

.fifth__page__circle__two {   
    @include absolute(329px, 194px);
    width: 34px;
    height: 34px;
}

.fifth__page__circle__three {   
    @include absolute(167px, 1614px);
    width: 43px;
    height: 43px;
    @include _375 {
        display: none;
    }
}

.fifth__page__people {
    @include absolute(132px, 305px);
    @include _375 {
        position: static;
        width: 100%;
        padding-top: 140px;
    }
}

.fifth__page__block__getStarted {
    margin-top: 274px;
    width: 100%;
    height: 261px;
    background-color: #5F37EF;
    @include _375 {
        margin-top: -4px;
    }
}

.fifth__page__block__getStarted__text {
    padding-top: 78px;
    width: 855px;
    margin: 0 auto;
    font-family: $ffRoboto;
    font-size: 36px;
    line-height: 52px;
    color: #FFFFFF;
    @include _375 {
        text-align: center;
        padding-top: 40px;
        width: 100%;
        font-size: 20px;
        line-height: 25px;
    }
}

.fifth__page__block__getStarted__button {
    @include subtitle();
    margin-top: -90px;
    float: right;
    margin-right: 200px;
    width: 207px;
    height: 72px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    outline: none;
    background-color: transparent;
    @include _375 {
        float: none;
        width: 60%;
        margin-left: 20%;
        margin-top: 50px;
        margin-right: 0;
    }
    &:hover {
        border: 2px solid $colorGray;
    }
}

.fifth__page__block__aboutus {    
    width: 100%;
    height: 741px;
    background-color: $colorViolet;
    position: relative;
    @include _375 {
        height: auto;
    }
    &::after {
        @include absolute(326px, 220px);
        width: 1480px;
        height: 0;
        border-bottom: 1px solid #9A7DFF;
        @include _375 {
            display: none;
        }
    }
}

.fifth__page__block__aboutus__block {    
    @include _375 {
        text-align: center;
    }
    img {
        float: left;
        padding-left: 118px;
        padding-top: 45px;
        @include _375 {
            float: none;
            padding: 0;
        }
    }
    p {
        padding-top: 40px;
        padding-left: 15px;
        float: left;
        font-family: $ffRoboto;
        font-size: 20px;
        line-height: 52px;
        color: #FFFFFF;
        @include _375 {
            float: none;
            padding: 0;
        }
    }
    &:first-child {
        img {
            padding-left: 348px;
            @include _375 {
                padding: 0;
                padding-top: 20px;
            }
        }
    }
}

.fifth__page__block__aboutus__logo {
    margin-left: 868px;
    margin-top: 140px;
    @include _375 {
        margin: 0;
        width: 80%;
        padding: 10%;
    }
}

.fifth__page__block__aboutus__table {
    padding-top: 90px;
    margin: 0 auto;
    font-family: $ffRoboto;
    font-weight: bold;
    color: #FFFFFF;
    @include _375 {
        padding: 20px 0;        
    }
    thead {
        font-size: 14px;
        line-height: 52px;
        text-transform: uppercase;
        @include _375 {
            font-size: 8px;
            line-height: 11px;
        }
    }
    tbody {
        font-size: 12px;
        line-height: 22px;
        font-weight: normal;
        @include _375 {
            font-size: 8px;
            line-height: 10px;
        }
    }
    td {
        padding: 0 69px;
        @include _375 {
            padding: 0 2px;
        }
    }
}

.fifth__page__block__footer {
    padding-left: 194px;
        @include _375 {
            padding: 0 2px;
        }
    img {
        display: inline;
        padding-top: 26px ;
        padding-left: 54px;
        @include _375 {
            padding-left: 55px;
            padding-bottom: 5px;
        }
    }
    p {
        padding: 0 346px 0 283px;
        display: inline;
        font-family: $ffRoboto;
        font-size: 12px;
        line-height: 22px;
        color: $mainTextColor;
        @include _375 {
            display: block;
            text-align: center;
            padding: 0;
            padding-bottom: 10px;
        }
    }
    .fifth__page__block__footer__automattic {        
        @include _375 {
            display: block;
            padding: 0;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}